@model List<BrandVM>
<div class="page-body">
    <div class="title-header">
        <h5>Brands List</h5>
    </div>
    @if (Model.Count != 0)
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <div class="table-responsive table-desi table-product">
                                    <table class="table table-1d all-package">
                                        <thead>
                                            <tr>
                                                <th>Product Image</th>
                                                <th>Product Name</th>
                                                <th>Published</th>
                                                <th>Option</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        <img src="~/assets/images/voxo-brand/@item.ImageUrl" class="img-fluid"
                                                             alt="photo">
                                                    </td>

                                                    <td>
                                                        <a>@item.Name</a>
                                                    </td>

                                                    @if (!item.Published)
                                                    {
                                                        <td class="td-check">
                                                            <span class="lnr lnr-checkmark-circle"></span>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="td-cross">
                                                            <span class="lnr lnr-cross-circle"></span>
                                                        </td>
                                                    }
                                                    <td>
                                                        <ul>                                                           
                                                            <li>
                                                                <a asp-action="Update" asp-route-id="@item.Id">
                                                                    <span class="lnr lnr-pencil"></span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <form class="forms-sample" method="post" asp-action="Delete" asp-route-id="@item.Id">
                                                                    <button type="submit" class="btn btn-danger mr-2"><i class="far fa-trash-alt theme-color"></i></button>
                                                                </form>
                                                               @* <a asp-action="Delete" asp-route-id="@item.Id">
                                                                    <i class="far fa-trash-alt theme-color"></i>
                                                                </a>*@
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    }
    <!-- Container-fluid Ends-->

    <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
            <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                    <p class="mb-0">Copyright 2021 © Voxo theme by pixelstrap</p>
                </div>
            </div>
        </footer>
    </div>
</div>