@model SliderVM
<div class="page-body">
    <div class="title-header">
        <h5>Slider List</h5>
    </div>
    @if (Model != null)
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <div class="table-responsive table-desi table-product">
                                    <table class="table table-1d all-package">
                                        <thead>
                                            <tr>
                                                <th>Name </th>
                                                <th>Price</th>
                                                <th>Published</th>
                                                <th>Option</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td>
                                                    <a>@Model.Name</a>
                                                </td>
                                                <td>
                                                    <a>@Model.Price</a>
                                                </td>

                                                @if (!Model.Published)
                                                {
                                                    <td class="td-check">
                                                        <span class="lnr lnr-checkmark-circle"></span>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="td-cross">
                                                        <span class="lnr lnr-cross-circle"></span>
                                                    </td>
                                                }
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <a asp-action="Update" asp-route-id="@Model.Id">
                                                                <span class="lnr lnr-pencil"></span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <form class="forms-sample" method="post" asp-action="Delete" asp-route-id="@Model.Id">
                                                                <button type="submit" class="btn btn-danger mr-2"><i class="far fa-trash-alt theme-color"></i></button>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- Container-fluid Ends-->
    <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
            <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                    <p class="mb-0">Copyright 2021 © Voxo theme by pixelstrap</p>
                </div>
            </div>
        </footer>
    </div>
</div>